langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
transformers
accelerate
torch
streamlit
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
langchain-google-community[drive]
fastapi
uvicorn
pypdf
langchain-classic
dateparser
langdetect
deep-translator
